@import url(http://fonts.googleapis.com/css?family=Dosis:300|Lato:300|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
	padding: 0px;
	margin: 0px;
	font-smoothing: antialiased;
}

.bg {
	position: absolute;
	width: 100%;
	height: 2000px;
	background: #00b386;
}

.container {
	position: absolute;
	width: 80%;
	height: 2000px;
	left: 10%;
	top: 10%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.container nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 100%;
	overflow: hidden;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
}
.container nav .search-box {
	width: 100%;
	height: 60px;
	background-color: #222;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

.container nav .search-box div i.fa {
	display: inline-block;
	color: #888;
	margin-left: 20px;
	font-size: 16px;
}
.container nav .search-box div input {
	display: inline-block;
	margin: 20px 0px 20px 10px;
	width: 120px;
	border: 0px solid #000;
	background-color: #222;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.0em;
}
.container nav .search-box:after {
	content: "";
	display: block;
	height: 0px;
	border-top: 0px solid #111;
	border-bottom: 0px solid #555;
	margin-top: -2px;
}
.container nav ul.menu {
	padding: 0px;
	list-style-type: none;
}
.container nav ul.menu li {
	margin: 5px 20px 5px 20px;
	padding: 10px 30px 10px 12px;
	
	color: White;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	transition: 0.1s all;
}
.container nav ul.menu li:hover, .container nav ul.menu li.active {
	color: #FFFFFF;
	cursor: pointer;
	background-color: #CE6339; /*this is the tiny line below the top bar*/
	border-radius: 8px;
}
.container nav ul.menu li:hover {
	background-color: #db7c59; /*this is nothing important*/
}
.container nav ul.menu li i.fa {
	min-width: 24px;
	padding-right: 12px;
	font-size: 1.5em;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.header {
	position: relative;
	margin-left: 200px;
	top: 0px;
	height: 60px;
	background-color: rgba(80, 0, 0, 0.5); /*top bar color*/
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	border-bottom: 2px solid #d8bd97;
}
.header .userPanel {
	float: right;
	width: 300px;
	height: 100%;
}

.header .userPanel .welcome {
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	float: left;
	height: 40px;
	padding-top: 15px;
	color: White;
}

.header .title {
	width: 100%;
	height: 100%;
}

.header:after {
	content: "";
	display: block;
	height: 0px;
	margin-top: 0px;
}

.content {
	position: relative;
	margin-left: 200px;
}
.content h1 {
	padding: 10px;
	font-size: 2.0em;
	color: White;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: normal;
}
.content h1.dosis {
	font-family: 'Dosis';
}
.content h1.lato {
	font-family: 'Lato';
}
.content h1.roboto {
	font-family: 'Roboto Condensed';
}
.content h1.open {
	font-family: 'Open Sans Condensed';
}

.filler {
	width: 90%;
	height: 90%
	margin: auto;
	border: 0;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	color: #FFFFFF;
	color: #4d0000;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.pageHeader {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 20px;
}

.subHeader {
	font-weight: bold;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.postHeader {
	color: #4d0000;
	margin-bottom: 10px;
}

.post {
	margin-top: 10px;
	border: 1px solid #CE6339;
	padding: 10px; 10px; 10px; 10px;
	color: #4d0000;
}

.likeSeparator {
	border-top: 1px solid #CE6339;
	padding-bottom: 10px;
}

.likeSection {
	margin-top: 10px;
	border-top: 1px solid #CE6339;
	padding-top: 10px;
	padding-bottom: 10px;
}

.comment {
	color: #4d0000;
	border: 1px solid #CE6339;
	margin-left: 40px;
	padding: 10px; 10px; 10px; 10px;
}

.profilePhoto img {
	height = 40%;
	width = 40%;
	padding: 15px;
}

#invisibleSubmit {
	display: none;
	visibility: hidden;
}

.location {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #CE6339;
	padding: 10px; 10px; 10px; 10px;
	color: #4d0000;
}

#mapCanvas {
	width: 300px;
	height: 200px;
	float: left;
}
#infoPanel {
	float: left;
	margin-left: 10px;
}
#infoPanel div {
	margin-bottom: 5px;
}




